#answers-container {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: white;
  margin-bottom: 20px;

}

#answers-container h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 16px;

  margin-top: 0em;
  margin-bottom: 0em;
}

#answers-container .ui.header {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 16px;

  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.answer-item {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-top: 10px;
  /*border-bottom: 1px solid  #e2e2e2;*/
  font-weight: 400;
}

.answer-item .answer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.answer-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.answer-header img {
  height: 42px;
  width: 42px;
  border-radius: 50%
}

.answer-details {
  display: flex;
  flex-direction: column;
  display:block;
  overflow:hidden;
  margin-left: 10px;

  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  font-size: 16px;
}

.answer-details h1 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.answer-details h2 {
  font-size: 13px;
  font-weight: normal;
  margin-top: 0em;
  color: #999999;
}

.answer-body {
  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.answer-body img {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

.answer-body ul {
  list-style-position: inside;
}

.answer-body li {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

.answer-body ol>li {
  list-style-type: decimal;
  margin-top: 10px;
}

.answer-body a {
  color: #0000ff
}

.ql-editor {
  min-height: 150px;
}

.no-answers-message {
  padding: 16px;
  padding-left: 0;
  font-weight: 400;
  font-size: 14px;
}

.answer-form-container {
  width: 100%;
}

.answer-form-button {
  display: flex;
}
