.sidebar {
  width: 100%;

  @include respond-to(desktop) {
    margin-left: 32px;
    width: 25%;
  }
}

.sidebar-topic-list {
  display: flex;
  flex-direction: row;

  margin-right: 30px;
  word-wrap: break-word;
  font-size: 14px;

  @include respond-to(desktop) {
    flex-direction: column;
  }
}

.sidebar-topic-list .sidebar-item {
  display: inline;
  font-size: 12px;
  background: #ccecfa;
  color: #666666;
  margin-right: 0.5em;

  @include respond-to(desktop) {
    display: block;
    margin-bottom: 10px;
    margin-left: 5em;
  }
}

.sidebar-topic-list .sidebar-item a {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-right: 0.5em;
  &:hover {
    text-decoration: none;
    color: #2b6dad;
  }
}

.feed-sidebar {
  margin: 0.5em 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  overflow-y: hidden;

  @include respond-to(desktop) {
    flex-direction: column;
  }
}

.feed-sidebar-header {
  font-weight: 500;
  padding: 0 0.5em;

  @include respond-to(desktop) {
    height: 30px;
    margin-bottom: 16px;
    font-size: 15px;
  }

  .feed-sidebar-fixed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  button {
  background:none;
  color: #999999;
  border:none;
  padding:0;
  font: inherit;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 65px;
  }

  button:focus {
    border: none;
  }
}

.feed-sidebar-topic-pic {
  width: 1.5rem;
}

.feed-sidebar-topic-pic img {
  max-width: 100%;
  @include respond-to(desktop) {
    max-width: initial;
    width: 2em;
  }
}

.feed-sidebar-topic-label {
  padding-left: 0.25em;
  font-size: 1.3em;
}

.topic-search {
  margin-left: 10px;
  z-index: 4000;
  position: relative;
  bottom: 18px;
  left: 150px;
  background: white;
  border: 1px solid #e2e2e2;
  border-bottom: none;
  min-width: 250px;
  li {
    height: 47px;
    width: 100%px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
  }
  input {
    margin: 10px;
    height: 27px;
    padding-left: 10px;
    font-size: 14px;
  }
}

.topic-input-container {
  background-color: #f6f6f6;
}

.topic-search-bar {
  width: 250px;
  height: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.topic-search-list-item {
  font-weight: 400;

  a {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 100%;
  }
}

.topic-search-list-item:hover {
  color: #2b6dad;
  text-decoration: none;
  background-color: #fbfbfb;
  cursor: pointer;

  a:hover {
    text-decoration: none;
  }
}
