.topic-detail-item {
  background: white;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 15px;
  margin-bottom: 20px;
}

.topic-detail-item .no-topic-questions {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 615px) {
  .no-topic-questions {
    padding-left: 1.5em;
} }

.topic-detail-item .no-answers-message {
  padding-left: 20px;
}

.topic-detail-item .topic-header h1 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    font-weight: bold;
    font-size: 23px;

  }

.topic-detail-item .topic-header h2 {
    margin-bottom: 10px;
    margin-right: 20px;
    line-height: 1.4;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 15px;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  }

.topic-detail-item .topic-header .topic-header-pic > img {
  max-width: 64px;
}